form {
  @include flex(space-between, center);
  margin: 2rem 0 0;
  border: 1px solid $dark-line;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  & > div {
    @include flex(flex-start, center);
    &:first-child {
      width: 90%;
    }
    .search-icon {
      color: $dark-search-icon;
      font-size: 1.6rem;
    }
    .clear-icon {
      color: $dark-clear-icon;
      cursor: pointer;
      font-size: 1.6rem;
      margin-right: 0.3rem;
      padding-right: 0.3rem;
      display: none;
      &.active {
        display: block;
        border-right: thin solid $dark-line;
      }
    }
    .mic-icon {
      width: 2.4rem;
      height: 2rem;
      cursor: pointer;
    }
  }
  input {
    padding: 0;
    margin: 0.2rem 0.4rem;
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
    color: $dark-form-and-result-text;
    font-size: 0.9rem;
    &:focus {
      outline: none;
    }
  }
  &:hover {
    @extend %darken;
  }
}
