form {
  @include flex(space-between, center);
  margin: 2rem 0 0;
  border: 1px solid $dark-line;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  position: relative;
  &.activate-recent-tab {
    border: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    background: $dark-recent-tab;
  }
  & > div {
    @include flex(flex-start, center);
    &:first-child {
      width: 90%;
    }
    .search-icon {
      color: $dark-search-icon;
      font-size: 1.6rem;
    }
    .clear-icon {
      color: $dark-clear-icon;
      cursor: pointer;
      font-size: 1.6rem;
      margin-right: 0.3rem;
      padding-right: 0.3rem;
      display: none;
      &.active {
        display: block;
        border-right: thin solid $dark-line;
      }
    }
    .mic-icon {
      width: 2.4rem;
      height: 2rem;
      cursor: pointer;
      position: relative;
      @mixin microphone($content,$display,$position,$top,$left,$width,$height,$translateX,$translateY){
        content: $content;
        display: $display;
        position: $position;
        top: $top;
        left: $left;
        width: $width;
        height: $height;
        transform: translate($translateX,$translateY);
      }
      &::before {
        @include microphone("Search by voice",none ,absolute ,100% , 0, 5rem, 1rem, -30%, 30%);
        color: $dark-form-and-result-text;
        font-size: 0.7rem;
        font-family: inherit;
        padding: 0.3rem;
        background: $dark-clear-icon;
      }
      &::after {
        @include microphone("", none, absolute, 50%, 50%, 0px, 0px, -50%, 150%);
        border-right: solid 10px transparent;
        border-left: solid 10px transparent;
        border-bottom: solid 10px $dark-clear-icon;
      }
      &:hover {
        &::before {
          display: block !important;
        }
        &::after {
          display: block !important;
        }
      }
    }
  }
  input[type="text"] {
    padding: 0;
    margin: 0.2rem 0.4rem;
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
    color: $dark-form-and-result-text;
    font-size: 0.9rem;
    &:focus {
      outline: none;
    }
  }
  &:hover {
    @extend %darken;
  }
}
